<div>
  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <form id="todo-form" ng-submit="addTodo()">
        <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
      </form>
    </header>
    <!-- <section id="main" ng-show="todos.length" ng-cloak>
      <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section> -->
    <footer id="nav-footer"></footer>
  </section>
  <footer id="info-footer"></footer>
</div>
